

#hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(51, 65, 85, 0.45);
    z-index: 1;
}

#comment::before {
    content: "?";
    position: absolute;
    transform: translate(-15px, 20px) rotate(-20deg);
    font-size: 40px;
    color: rgb(126, 139, 214);
    
}
#comment::after {
    content: "?";
    position: absolute;
    transform: translate(5px, 10px) rotate(30deg);
    font-size: 50px;
    color: rgb(126, 139, 214);
}

#comment-title {
    position: relative;
}

#comment-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    height: 2px;
    width: 250px;

    background-color: gray;
    opacity: .5;

    transform: translateY(20px);
}


#faq-title {
    position: relative;
}

#faq-title::after {
    position: absolute;
    content: "";

    height: 4px;
    width: 50%;

    left: 25%;
    bottom: 0;

    transform: translate(0, 20px);

    background-color: var(--secondary-blue);
    opacity: .5;
}