{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="my-auto mx-auto py-20 poppins">

  <h2 class="text-5xl font-bold text-blue-500">
    Mot de passe changé avec succès
  </h2>
  <p class="text-xl text-center my-10">Votre mot de passe a bien été modifié. <br> 
    Vous pouvez 
    <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-600 transition-all duration-200 underline decoration-1">
      vous connecter en cliquant ici 
    </a> 
    avec votre nouveau mot de passe.
  </p>
</div>
{% endblock %}
