{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="my-auto py-12 mx-auto poppins">
  <h2 class="text-center text-5xl font-extrabold primary">
    Choisir un nouveau mot de passe
  </h2>
  <form method="post" class="w-full max-w-[550px] px-3 mx-auto flex flex-col">
    {% csrf_token %}
    {% for field in form %}
      <div class="flex flex-col mt-6">
        <p class="font-semibold text-slate-700">
          {{ field.label }}
        </p>
        {{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
        <p class="text-red-500 font-bold">{{error}}</p>
        {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <button class='py-4 px-8 bg-blue-500 rounded-xl text-xl text-white w-fit mx-auto my-10 shadow-md
    hover:bg-blue-400 hover:-translate-y-1 hover:shadow-2xl transition-all duration-500 ease-in-out' 
    type="submit">Changer de mot de passe</button>
    <div class="text-lg italic flex flex-col gap-4">
      {{ form.new_password1.help_text }}
    </div>
  </form>
</div>
{% endblock %}
