{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="my-auto poppins">

  <h2 class="mt-12 text-4xl font-bold primary text-center">Réinitialiser votre mot de passe</h2>
  <form method="post" class="flex flex-col mx-auto max-w-[550px] my-8">
    {% csrf_token %}
    <p class="text-xl font-semibold my-3">
      E-mail du compte : 
    </p>
    {{ form.email }}
    <button type="submit" class="py-2 px-6 bg-blue-500 hover:bg-blue-400 text-white
    w-fit my-6 mx-auto text-xl rounded-lg transition-all duration-300 ease-in-out shadow-lg
    hover:shadow-2xl hover:-translate-y-1">
      Réinitialiser
    </button>
  </form>
</div>
{% endblock %}