{% extends 'accounts/account_base.html' %}
{% load static %}
{% load places_tags %}

{% block account_title %}Réservations en attente | ParkSafe{% endblock %}

{% block account_head %}{% endblock %}

{% block account_content %}
<div class="flex flex-col lg:flex-row gap-8 lg:gap-20 min-h-screen poppins">
    {% include 'accounts/account_sidebar.html' %}
    
    <main class="w-full lg:basis-[1280px] lg:shrink lg:grow-0 mx-auto flex flex-col px-4 lg:px-0">
        <div class="w-full max-w-[1280px] mx-auto text-center py-10 lg:py-20 flex flex-col">
            <h1 class="text-3xl sm:text-4xl lg:text-5xl primary text-center font-semibold">
                Accepter la réservation
            </h1>
            <p class="text-lg sm:text-xl font-light text-slate-600 my-4 lg:my-5">
                Après acceptation de votre part, le client sera invité à payer la réservation.
            </p>
            <div class="flex flex-col sm:flex-row mx-auto gap-4 sm:gap-8 items-center">
                <a href="{% url 'parker_confirm_accept' reservation.token %}" class="w-full sm:w-auto text-center">
                    <button class="w-full sm:w-auto py-2 px-3 bg-green-500 hover:bg-green-600 uppercase text-white
                        shadow-lg hover:shadow-2xl rounded-lg transition-all duration-300 ease-in-out text-xl sm:text-2xl">
                        Accepter
                    </button>
                </a>
                <a href="{% url 'parker_reservation_waiting' %}" class="w-full sm:w-auto text-center">
                    <button class="w-full sm:w-auto py-2 px-3 bg-secondary hover:bg-blue-700 uppercase text-white
                        shadow-lg hover:shadow-2xl rounded-lg transition-all duration-300 ease-in-out">
                        Retour
                    </button>
                </a>
            </div>
        </div>

        <div class="bg-gray-100 shadow-xl py-6 lg:py-10 px-4 lg:px-12 flex flex-col sm:flex-row gap-6">
            <!-- MINIATURE -->
            <div class="w-full sm:w-64 h-48 sm:h-64 overflow-hidden rounded-lg">
                <img src="{{ reservation.place.thumbnail.url }}" alt="" class="w-full h-full object-cover object-center">
            </div>
            <!-- TEXT -->
            <div class="flex flex-col gap-4 lg:gap-5">
                <h2 class="secondary text-xl lg:text-2xl font-normal">
                    Demande de <span class="font-semibold">{{ reservation.name }}</span>
                </h2>
                <div class="text text-slate-800 flex flex-col sm:flex-row gap-2 sm:gap-4">
                    <p><b>Arrivée:</b> {{ reservation.arrivee|date:"d/m/Y"}} à {{ reservation.arrivee|date:"H:i"}}</p>
                    <p class="hidden sm:block">|</p>
                    <p><b>Retour:</b> {{ reservation.departure|date:"d/m/Y"}} à {{ reservation.departure|date:"H:i"}}</p>
                </div>
                <p class="text-md">
                    {{reservation.message}}
                </p>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 text-gray-700 text-md mt-2">
                    <p><b>Durée : </b>{{ reservation.days }} jours</p>
                    <p><b>Nb de véhicules : </b>{{ reservation.vehicules_number }}</p>
                    <p><b>Nb de passagers : </b>{{ reservation.passengers }}</p>
                    <p><b>Revenus :</b> {{ reservation.price }} €</p>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block account_script %}
<script>
    window.onload = function () {
        // Bouton SideBar
        const button = document.getElementById('my_announcements');
        button.classList.add('active');
        const section = button.closest('.link-section');
        section.classList.add('active');

        const link = document.getElementById('reservation_waiting');
        link.classList.add('active');
    }
</script>
{% endblock %}