{% extends 'accounts/account_base.html' %}
{% load static %}
{% load places_tags %}

{% block account_title %}Réservations en attente | ParkSafe{% endblock %}

{% block account_head %}
{% endblock %}

{% block account_content %}
<div class="flex gap-20 min-h-screen poppins">

    {% include 'accounts/account_sidebar.html' %}
    <main class="basis-[1080px] shrink grow-0 mx-auto flex flex-col">
        <div class="w-full max-w-[1080px] mx-auto text-center py-20 flex flex-col">
            <h1 class="text-5xl primary text-center font-semibold">
                Confirmer l'annulation
            </h1>
            <p class="text-xl font-light text-slate-600 my-5">
                Êtes vous certain de vouloir refuser cette reservation ?
            </p>
            <div class="flex mx-auto gap-8">
                <a href="{% url 'parker_confirm_cancel' reservation.token %}" class="text-center">
                    <button class="py-2 px-3 bg-red-500 hover:bg-red-600 uppercase text-white
                        shadow-lg hover:shadow-2xl rounded-lg transition-all duration-300 ease-in-out">
                        Annuler la reservation
                    </button>
                </a>
                <a href="{% url 'parker_reservation_waiting' %}" class="text-center">
                    <button class="py-2 px-3 bg-secondary hover:bg-blue-700 uppercase text-white
                        shadow-lg hover:shadow-2xl rounded-lg transition-all duration-300 ease-in-out">
                        Retour
                    </button>
                </a>
            </div>
        </div>

        <div class="bg-slate-100 shadow-xl py-10 px-12 flex gap-6">
            <!-- MINIATURE -->
            <div class="w-64 h-64 overflow-hidden">
                <img src="{{ reservation.place.thumbnail.url }}" alt="" class="object-cover object-center">
            </div>
            <!-- TEXT -->
            <div class="flex flex-col gap-5">
                <h2 class="secondary text-3xl font-normal">
                    Demande de <span class="font-semibold">{{ reservation.name }}</span>
                </h2>
                <p class="text-xl text-slate-800">
                    <b>Départ:</b> {{ reservation.arrivee|date:"d/m/Y"}} à {{ reservation.arrivee|date:"H:i"}} |
                    <b>Retour:</b> {{ reservation.departure|date:"d/m/Y"}} à {{ reservation.departure|date:"H:i"}}

                </p>
                <p class="text-md">
                    {{reservation.message}}
                </p>

                <div class="space-y-2 text-gray-700 text-md">
                    <p><b>Durée : </b>{{ reservation.days }} jours</p>
                    <p><b>Nb de véhicules : </b>{{ reservation.vehicules_number }}</p>
                    <p><b>Nb de passagers : </b>{{ reservation.passengers }}</p>
                    <p><b>Prix total :</b> {{ reservation.price }} €</p>
                </div>
            </div>
        </div>

    </main>
</div>
{% endblock %}

{% block account_script %}
<script>
    window.onload = function () {
        // Bouton SideBar
        const button = document.getElementById('my_announcements');
        button.classList.add('active');
        const section = button.closest('.link-section');
        section.classList.add('active');

        const link = document.getElementById('reservation_waiting');
        link.classList.add('active');
    }
</script>
{% endblock %}