{% extends "main/base.html" %}
{% load static %}

{% block extra_head %}
{% endblock %}

{% block content %}
<main class="mx-auto">
    <div class="w-full max-w-[720px] mx-auto px-5 my-20 poppins">
        <h1 class="text-5xl font-bold mb-6 primay text-center uppercase primary">Ajouter une catégorie</h1>
        <p class="text-xl text-slate-600 font-light uppercase text-center">Ajouter un type de point d'intérêt (Port, Aéroport, Gare, ...)</p>
        
        <form method="POST" class="max-w-[500px] mx-auto flex flex-col">
            {% csrf_token %}
            {% for field in form %}
            {% if not field.is_hidden %}
            <div class="my-10 w-full flex flex-col">
                <label for="{{ field.id_for_label }}" class="block text-lg secondary font-medium mb-1">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                <div class="mt-1 text-red-600 text-sm">
                    {{ field.errors|join:", " }}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            
            <button type="submit" class="bg-blue-500 text-white py-3 px-6 text-xl rounded-md hover:bg-blue-600 w-fit mx-auto">
                Créer
            </button>
        </form>
    </div>
</main>
{% endblock %}
