{% extends 'main/base.html' %}
{% load static %}

{% block title %}Mon Compte - CodeMaster{% endblock %}

{% block content %}
    <div class="mx-auto my-auto max-w-3xl py-12">
        <h1 class="text-5xl text-blue-500 font-extrabold text-center">
            <span class='text-slate-700'>Image de </span>
            Profil
        </h1>
        <img src="{{ request.user.profil_pic.url }}" width="180" class="mx-auto my-12">
        <p class="text-2xl font-light text-center my-3">
            Uploadez une photo de profil pour plus de proximité avec les autres utilisateurs
        </p>
        <form method="POST" enctype="multipart/form-data"
        class="w-full px-5 max-w-[500px] mx-auto flex flex-col my-10">
            {% csrf_token %}
            {{ form.profil_pic }}
            {% if form.profil_pic.errors %}
                {% for error in form.profil_pic.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            <div class="flex w-fit mx-auto gap-10">
                <a class="uppercase mx-auto my-10 w-fit text-xl text-white bg-red-500 px-8 py-3 rounded-xl shadow-lg
                hover:bg-red-700 hover:-translate-y-1 hover:shadow-2xl transition-all duration-500 ease-in-out"
                href="{% url 'my_account' %}">
                    Annuler
                </a>
                <button type="submit" class="uppercase mx-auto my-10 w-fit text-xl text-white bg-blue-500 px-8 py-3 rounded-xl shadow-lg
                hover:bg-blue-400 hover:-translate-y-1 hover:shadow-2xl transition-all duration-500 ease-in-out">
                    Enregistrer
                </button>
            </div>
        </form>
    </div>
{% endblock %}