{% load static %}
<section class="bg-primary mt-auto text-white flex flex-col py-10 poppins">
    <div class="flex flex-wrap w-full justify-between max-w-[1400px] mx-auto px-4 gap-10">
        <!-- LEFT -->
        <div class="flex flex-col flex-1 basis-[300px] md:pr-10 md:border-r-2">
            <a href="{% url 'index' %}">
                <h1 class="text-4xl md:text-6xl text-white jomhuria translate-y-1 text-center md:text-left">
                    <span class="secondary">Park</span>Safe
                </h1>
            </a>
            <p class="text-white text-base md:text-lg text-center md:text-left mt-4">
                Réservations simplifiées | Paiements sécurisés
            </p>
            <div class="my-5 bg-white rounded-xl py-2 px-4 flex justify-center md:justify-start">
                <img class="h-8" src="{% static 'images/secure-pay.png' %}" alt="Paiement sécurisé">
            </div>
            <p class="text-base md:text-lg font-extrabold text-center md:text-left">
                Retrouvez-nous sur les réseaux sociaux !
            </p>
            <div class="flex text-base md:text-lg font-light gap-4 mt-5 justify-center md:justify-start">
                <a href="#" aria-label="Instagram">Instagram</a>
                <span>|</span>
                <a href="#" aria-label="Facebook">Facebook</a>
                <span>|</span>
                <a href="#" aria-label="Twitter">Twitter</a>
            </div>
        </div>

        <!-- MIDDLE -->
        <div class="flex flex-col flex-1 basis-[450px] md:px-3 text-base md:text-base">
            <div class="flex flex-wrap justify-evenly gap-3 w-full">
                {% for cat in poi_cats %}
                <div class="w-fit flex flex-grow flex-col text-center md:text-left">
                    <p class="font-bold mb-5">
                        {{ cat.name }}
                    </p>
                    {% for city in cat.unique_cities %}
                    <a href="{% url 'search_parking_place' poi_slug=city.slug %}" 
                       class="font-light mb-2 hover:text-blue-300 transition-colors">
                        {{ city.name }}
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- RIGHT -->
        <div class="flex flex-col flex-1 basis-[300px] md:pl-10 md:border-l-2">
            <h2 class="font-bold text-lg md:text-xl pb-5 text-center md:text-left">
                Liens Utiles
            </h2>
            <nav class="flex flex-col text-base md:text-base gap-2 text-center md:text-left">
                <a href="{% url 'index' %}" class="hover:text-blue-300 transition-colors">Accueil</a>
                <a href="{% url 'a_propos' %}" class="hover:text-blue-300 transition-colors">À Propos</a>
                <a href="{% url 'create_parking_place' %}" class="hover:text-blue-300 transition-colors">Proposer mes places</a>
                <a href="{% url 'search_parking_place_index' %}" class="hover:text-blue-300 transition-colors mb-3">Rechercher une place</a>
                <a href="#" class="hover:text-blue-300 transition-colors">→ Nous Contacter</a>
                <a href="#" class="hover:text-blue-300 transition-colors">→ Politique de Confidentialité</a>
                <a href="#" class="hover:text-blue-300 transition-colors">→ Mentions Légales</a>
                <a href="#" class="hover:text-blue-300 transition-colors">→ Termes & Conditions</a>
            </nav>
        </div>
    </div>

    <div class="mt-10 px-4">
        <p class="text-center text-sm md:text-base">
            ParkSafe&copy; 2024 | Tous droits réservés | Site réalisé avec &#x2665; par 
            <a href="https://agencecodemaster.com/" class="hover:text-blue-300 transition-colors">Dylan Saint-Jalmes - Agence Codemaster</a>
        </p>
    </div>
</section>