{% extends 'main/base.html' %}
{% load static %}
{% load session_tags %}

{% block title %}Ajouter / Modifier FAQ | ParkSafe{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}


{% block content %}
<main class="mx-auto px-3 sm:px-0">
    <section class="flex py-20">
        <div class="container mx-auto">
            <h1 class="poppins font-bold primary text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-center">
                Ajouter <span class="secondary drop-shadow-md">/ Modifier</span> Q&R
            </h1>

            <form action="#" method="post" class="w-full max-w-xl mx-auto my-10 md:my-20 flex flex-col">
                {% csrf_token %}
                {% for field in form %}
                <div class='flex flex-col mb-4 gap-2'>
                    <p class="text-base sm:text-lg md:text-xl poppins">{{ field.label }}</p>
                    {{ field }}
                    <p class="text-lg font-semibold text-red-500 poppins">{{ field.errors }}</p>

                </div>
                {% endfor %}
                <button type="submit" class="py-3 px-8 text-xl bg-blue-500 w-fit mx-auto text-white my-5 shadow-lg rounded-lg
        hover:-translate-y-1 hover:shadow-2xl hover:bg-blue-400 transition-all duration-300 ease-in-out">
                    POSTER
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block extra_script %}
{% endblock %}