{% extends 'accounts/account_base.html' %}
{% load static %}
{% load session_tags %}
{% load places_tags %}

{% block account_title %}Mon Compte | ParkSafe{% endblock %}

{% block account_head %}
{% include 'interactive_map/here_header.html' %}
{% endblock %}

{% block account_content %}
<main class="w-full flex flex-col poppins">
    <div class="container mx-auto mt-10">
        <!-- HEADER -->
        <div class="flex flex-wrap w-full max-w-[1280px] mx-auto justify-center my-10 gap-12">
            <!-- LEFT -->
            <div class='w-fit items-center justify-center my-auto'>
                <!-- Nom -->
                <h1 class='text-center text-4xl font-extrabold text-blue-500'>
                    {{ user.first_name }} {{ user.last_name }}
                </h1>
                <!-- Logout -->
                <a href="{% url 'logout' %}" alt="Se déconnecter">
                    <p class="text-xl underline text-center decoration-1 underline-offset-4 mt-3 text-slate-700">
                        Se déconnecter
                    </p>
                </a>
            </div>
            <!-- RIGHT -->
            <div class='w-fit h-fit items-center justify-center'>
                <a href="{% url 'change_profil_pic' %}" alt="Changer d'image de profil utilisateur">
                    <div id="account-pp"
                        class="mx-auto overflow-hidden w-32 h-32 relative z-[1]
                    after:absolute after:w-full after:h-full after:left-0 after:top-0 after:z-[2] after:bg-slate-50 after:bg-opacity-0 hover:after:bg-opacity-30">
                        <img src="{{ user.profil_pic.url }}"
                            alt="Photo de profil de {{user.first_name}} {{user.last_name}}" class="rounded-full">
                    </div>
                </a>
            </div>
        </div>
    <!-- MESSAGE DE SESSION -->
    {% if request.session.message %}
    <p class="text-xl md:text-2xl lg:text-3xl max-w-[1080px] my-5 text-green-600 font-bold text-center mx-auto">
        {{ request.session.message }}
    </p>
    {% del_session_message %}
    {% endif %}
    {% if request.session.alert %}
    <p class="text-xl md:text-2xl lg:text-3xl max-w-[1080px] my-5 text-red-500 font-bold text-center mx-auto">
        {{ request.session.alert }}
    </p>
    {% del_session_message %}
    {% endif %}


    <!-- INFORMATiONS -->
    <section class="bg-gray-200 py-20 flex flex-col">
            <!-- INFOS PERSOS -->
            <div class='flex flex-col gap-6 w-full max-w-[500px] mx-auto'>
                <h1 class='secondary font-bold text-2xl md:text-3xl lg:text-4xl text-left drop-shadow-lg'>
                    Informations personnelles
                </h1>
                <hr class='my-6'>

                
                <!-- NOM -->
                <div class="flex justify-between text-xl leading-loose">
                    <p class="secondary font-semibold">Nom :</p><p>{{user.last_name}}</p>
                </div>
                <!-- PRENOM -->
                <div class="flex justify-between text-xl leading-loose">
                    <p class="secondary font-semibold">Prénom(s) :</p><p>{{user.first_name}}</p>
                </div>
                <!-- EMAIL -->
                <div class="flex justify-between text-xl leading-loose">
                    <p class="secondary font-semibold">Email :</p><p>{{user.email}}</p>
                </div>
                <!-- TELEPHONE -->
                <div class="flex justify-between text-xl leading-loose">
                    <p class="secondary font-semibold">N° de téléphone :</p>
                    
                    {% if user.phone %}
                    <div class="text-right">
                        <p>{{user.phone}}</p>
                        <a href="{% url 'change_mobile_number' %}">
                            <p class="underline text-blue-500">Changer le numéro</p>
                        </a>
                    </div>
                    {% else %}
                        <a href="{% url 'change_mobile_number' %}">
                            <p class="underline text-blue-500">Renseigner un numéro</p>
                        </a>
                    {% endif %}
                </div>
                <!-- NAISSANCE -->
                <div class="flex justify-between text-xl leading-loose">
                    <p class="secondary font-semibold">Date de naissance :</p><p>{{user.birth_date}}</p>
                </div>
                <!-- PROFILPIC -->
                <div class="flex flex-wrap justify-between text-xl leading-loose">
                    <p class="secondary font-semibold">Photo de profil :</p>

                    {% if user.profil_pic %}
                    <div class="flex flex-col justify-end">

                        <div class="ml-auto h-24 w-24 overflow-hidden rounded-full">
                            <img src="{{user.profil_pic.url}}" alt="" class="w-full h-full object-cover object-center">
                        </div>
                        <a href="{% url 'change_profil_pic' %}">
                            <p class="underline text-blue-500">Changer photo de profil</p>
                        </a>
                    </div>
                    {% else %}
                        <a href="{% url 'change_profil_pic' %}">
                            <p class="underline text-blue-500">Uploader une photo de profil</p>
                        </a>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block account_script %}

{% endblock %}