<!-- COMMENT CA MARCHE -->
<section class="flex flex-col poppins pb-12">
    <div class="container max-w-[1200px] mx-auto relative">
        <h1 class="text-4xl secondary font-semibold mt-5" id="comment-title">
            Comment ça marche
            <span>?</span>
        </h1>
        <div class="absolute h-[2px] w-40 bg-slate-300 translate-y-2"></div>
        
        <div class="flex flex-col gap-6 max-w-[720px] mt-12">
            {% for item in ccm_items %}
            <div class="flex gap-10 items-center">
                <div class="h-24 basis-24 shrink-0 text-5xl font-bold shadow-xl rounded-2xl flex items-center justify-center
                {% if item.ordre == 2 %}text-white bg-primary{% else %}primary bg-gray-100{% endif %}">
                    <p class="">{{item.ordre}}</p>
                </div>
                <p class="text-md">
                    <span class="text-lg font-semibold secondary">{{item.title}}</span> <br>
                    {{item.content}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>