{% extends 'main/base.html' %}
{% load static %}

{% block title %}A propos de ParkSafe | Location de places de parking entre particuliers{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'faq/faq_styles.css' %}">
<link rel="stylesheet" href="{% static 'css/main/home-styles.css' %}">
{% endblock %}

{% block content %}


<!-- Comment ça marche ? -->
<div class="shadow-md relative z-[2] bg-blue-50">
    {% include 'main/sections/comment_ca_marche_section.html' %}
</div>
<!-- Pourquoi ParkSafe ? -->
<div class="shadow-md relative z-[2] bg-gray-200 py-12 sm:py-16 md:py-20">
    {% include 'main/sections/pourquoi_parksafe.html' %}
</div>
<!-- FAQ -->
<div class="relative z-[1]">
    {% include 'main/sections/faq_section.html' %}
</div>

{% endblock %}


{% block extra_script %}
<script src="{% static 'faq/faq_script.js' %}"></script>
{% endblock %}