{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang='fr' class="overflow-x-hidden">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content = "width=device-width, initial-scale=1.0">
    <title>{% block title %}ParkSafe | Location de places de parking de particulier à particulier{% endblock %}</title>
    {% tailwind_css %}
    <!-- STYLES -->
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col overflow-x-hidden">
    <header>
        {% include "main/components/main_navbar.html" %}
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        {% include "main/components/footer.html" %}
    </footer>

{% block extra_script %}
{% endblock %}
<script>

document.addEventListener('DOMContentLoaded', function() {
    // Sélectionne tous les liens qui commencent par # (liens d'ancrage)
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function(e) {
            e.preventDefault();
            
            // Récupère l'ID de la cible depuis le href
            const targetId = this.getAttribute('href');
            
            // Vérifie si l'élément cible existe
            const targetElement = document.querySelector(targetId);
            
            if (targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            }
        });
    });
});
</script>
</body>

</html>